$dark-blue: #3a3f51;
$dark-purple: #432758;
$bg-gary: #f0f3f4;
//$text-color: #606266;
$text-color: #fff;
$white: #ffffff;

$sideBarWidth: 200px;
$px30: 30px;
$px20: 20px;

%width-height {
  width: 100%;
  height: 100%;
}
